/* Recursos */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital,wght@1,600&display=swap');

@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

*{
    box-sizing: border-box;
}

/* Modificaciones generales */

h2,h3{
    font-family: 'Playfair Display';
}

li{
    font-family: Inter;
    color:#444
}

.titulo {
    color: white;
    font-family: Inter;
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    height: 340px;
}

/* Imágenes de fondo */

.principal {
    background-image: url(../img/postres.jpg);
}

.lemon {
    background-image: url(../img/lemon-background.png);
}

.carrot {
    background-image: url(../img/imagen-carrot.png);
}
